<!--  F O O T E R  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <a href="#"><i class="icon ion-logo-facebook"></i></a>
        <a href="#"><i class="icon ion-logo-instagram"></i></a>
        <a href="#"><i class="icon ion-logo-twitter"></i></a>
        <a href="#"><i class="icon ion-logo-youtube"></i></a>
      </div>
      <div class="col-md-6 col-xs-12">
        <small
          >2020 &copy; Made in love ♥
          <a
            href="http://github.com/zumbizar"
            target="blank"
            class="external-links"
            >Fernando Henrique</a
          ></small
        >
      </div>
    </div>
  </div>
</footer>
<!--  E N D  F O O T E R  -->
