<!-- N A V B A R -->
<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="icon ion-md-menu"></span>
  </button>
  <img
    src="assets/images/logo1.png"
    class="img-fluid nav-logo-mobile"
    alt="Company Logo"
    style="width: 40%"
  />
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <img
        src="assets/images/logo1.png"
        class="img-fluid nav-logo-desktop"
        alt="Company Logo"
        style="width: 10%"
      />
      <ul
        class="navbar-nav ml-auto nav-right"
        data-easing="easeInOutExpo"
        data-speed="1250"
        data-offset="65"
      >
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="index.html"
            >Home <i class="icon ion-ios-arrow-forward icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#call-to-action"
            >Cursos <i class="icon ion-ios-arrow-forward icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#testimonials"
            >Depoimentos <i class="icon ion-ios-arrow-forward icon-mobile"></i
          ></a>
        </li>

        <li class="nav-item nav-custom-link btn btn-demo-small">
          <a class="nav-link" href="#"
            >Log in <i class="icon ion-ios-arrow-forward icon-mobile"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- E N D  N A V B A R -->
