/* ==============================================
   2. Navbar 
===============================================*/

.custom-navbar {
  background-color: #ffffff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  height: 70px;
  max-height: 70px;
}

.navbar-toggler {
  font-size: 38px;
  background-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.navbar-toggler-icon {
  color: #ffffff;
}

.navbar-collapse {
  background-color: #ffffff;
}

.nav-custom-link {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-top: 5px;
}

.navbar a {
  color: #53627c !important;
}
.navbar a:hover {
  color: black !important;
}

.nav-right {
  float: right;
}

/* ==============================================
   3. Buttons
===============================================*/

.btn {
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px !important;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.btn:hover {
  text-decoration: none;
}

.btn-regular {
  background-color: #0095f7;
  color: #ffffff;
  padding: 10px 25px;
  letter-spacing: 0.1em;
  margin-top: 25px;
  display: inline-block;
}

.btn-regular:hover {
  background-color: #0191f0;
  color: #ffffff;
}

.btn-demo {
  color: #ffffff;
  background-color: #6772e5;
  letter-spacing: 0.1em;
  padding: 15px 48px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.btn-demo:hover {
  color: #ffffff;
  background-color: #636ee1;
}

.btn-demo-small {
  font-size: 12px;
  background-color: #0095f7;
  padding: 1px 4px;
}

.btn-demo-small:hover {
  background-color: #00b7ff;
}

.btn-demo-small a {
  color: #ffffff !important;
}

.btn-buy {
  color: #ffffff;
  background-color: #0095f7;
  letter-spacing: 0.1em;
  padding: 15px 48px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.btn-buy:hover {
  background-color: #0191f0;
  color: #ffffff;
}
