<!-- H E R O -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <img
          src="assets/images/iphone.png"
          class="img-fluid"
          alt="Demo image"
        />
      </div>
      <div class="col-md-7 content-box hero-content">
        <h1>Amazing Courses <b>for YOU ♥</b></h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
        <a href="#" class="btn btn-regular">Saiba mais!</a>
      </div>
    </div>
  </div>
</section>
<!-- E N D  H E R O -->
