<!-- T E S T I M O N I A L S -->
<section id="testimonials">
  <div class="container">
    <div class="title-block">
      <h2>Veja oque falam sobre nós!</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        scelerisque, tortor nec mattis feugiat
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="testimonial-box">
          <div class="row personal-info">
            <div class="col-md-2 col-xs-2">
              <div class="profile-picture review-one"></div>
            </div>
            <div class="col-md-10 col-xs-10">
              <h6>
                Isabela Cristina
                <span class="rating">5 <i class="icon ion-md-star"></i></span>
              </h6>
              <small>Curso - Técnico em Informática</small>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            scelerisque, tortor nec mattis feugiat, velit purus euismod odio,
            quis vulputate velit urna sit amet enim. Maecenas vulputate auctor
            ligula sed sollicitudin.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-box">
          <div class="row personal-info">
            <div class="col-md-2 col-xs-2">
              <div class="profile-picture review-two"></div>
            </div>
            <div class="col-md-10 col-xs-10">
              <h6>
                Beyoncé
                <span class="rating">5 <i class="icon ion-md-star"></i></span>
              </h6>
              <small>Curso - Teatro & Ator</small>
            </div>
          </div>
          <p>
            In euismod, metus ac elementum tincidunt, dui eros ullamcorper
            lorem, at euismod augue augue quis leo. Fusce non dui augue. In hac
            habitasse platea dictumst. Mauris quis lacinia mauris. Proin ut
            pretium quam. Nam at ex finibus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E N D  T E S T I M O N I A L S -->
